/*GLOBALS*/
body{
  font-family: 'Special Elite';
  background-color: blanchedalmond 
}

/*BODY*/
body, html {
  /* The image used */
  background-image: url("http://getwallpapers.com/wallpaper/full/e/9/4/629789.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*HEADER*/
.navbar-default{
  background-color: rgb(72, 82, 105);
  border-color: rgb(72, 82, 105);
  border-radius: 0;
  height: 80px;
  padding-top: 15px;
}


