/*GLOBALS*/
body {
  font-family: "Special Elite";
  background-color: blanchedalmond;
}

/*HEADER*/
.navbar-inverse {
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/71tuJgMEshL._SX355_.jpg');
  border-radius: 0;
  opacity: 0.6;
  padding-top: 15px;
}

.headerz{
  background-color: #2C3A47;
  text-align:center;
  color: white;
  height: 100vh;
  opacity: 0.8;
  padding-top:20%;
  padding: 25% 10% 10% 10%;
}
@media screen and (max-width: 640px){
  .headerz{
    padding: 85% 10% 10% 10%;
  }
}


/*BODY*/

html, body {
  background-image: url("http://getwallpapers.com/wallpaper/full/e/9/4/629789.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
@media screen and (max-width:1024px){
  html, body {
  background-attachment:fixed;
  }
}

.body{
  padding: 100px 20px 100px 20px;
}

/*FOOTER*/
.fuck {
 /* background-color: #2C3A47; */
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWmBYW4m8v2B_ZEiB3M71APIccRPIoFVmKGOElMBn8l-4SHbng');
  color: white;
  padding: 20px  0px 20px 0px;
  text-align: center;
}
.fuck a:hover{
  text-decoration: none;
  color: white;
  
}
.fuck h3, h5{
  font-weight: bolder;
}

/*TRACK UPLOAD FORM*/
.main{
  padding: 120px 0;
}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
   padding: 10px 40px;
 background:#009edf;
     color: #FFF;
   text-shadow: none;
}

