/*GLOBALS*/
body {
  font-family: "Special Elite";
  background-color: blanchedalmond;
}

/*HEADER*/
.navbar-inverse {
  background-color: rgb(72, 82, 105);
  border-color: rgb(72, 82, 105);
  border-radius: 0;
  padding-top: 15px;
}

.headerz{
  background-color: #273c75;
  text-align:center;
  color: white;
  height: 300px;
  padding-top: 30px;
}

/*BODY*/

html, body {
  background-image: url("http://getwallpapers.com/wallpaper/full/e/9/4/629789.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width:1024px){
  html, body {
  background-attachment:fixed;
  }
}

.body{
  padding: 30px 10px 0px 10px;
}

/*FOOTER*/
.fuck {
 background-color: rgb(72, 82, 105);
  color: white;
  padding: 20px  0px 20px 0px;
  text-align: center;
}
.fuck a:hover{
  text-decoration: none;
  color: white;
  
}


